.sellerHeader{
    background-color: #174066;
    height: 8vh;
    position: fixed;
    width: 100vw;
}

.sellerHeader .logo{
    height: 4vh;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 40px;
}
#sale-tag{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
    box-shadow: 2px 4px 50px 10px rgba(134, 134, 134, 0.25);
}
